<div class="min-h-screen flex flex-col lg:flex-row bg-gray-50">
  
  <!-- Image Panel -->
  <div class="relative w-full h-48 lg:w-1/2 lg:h-screen">
    <img class="h-full w-full object-cover" [src]="aboutService.aboutImageUrl()" alt="Application banner" referrerpolicy="no-referrer">
  </div>
  
  <!-- Form Panel -->
  <div class="w-full lg:w-1/2 flex flex-col py-8 px-4 sm:px-6 lg:px-20 xl:px-24 relative">
    <div class="absolute top-4 right-4 z-10">
      <app-language-selector></app-language-selector>
    </div>

    <div class="flex-grow flex flex-col justify-center">
        <div class="mx-auto w-full max-w-sm lg:w-96">
        <div>
            <h2 class="mt-6 text-3xl font-extrabold text-gray-900">
            {{ t()('forgotPassword.title') }}
            </h2>
            <p class="mt-2 text-sm text-gray-600">
                {{ t()('forgotPassword.subtitle') }}
            </p>
        </div>
        <div class="mt-8">
            @if (messageSent()) {
                <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                    <span class="block sm:inline">{{ t()('forgotPassword.successMessage') }}</span>
                </div>
                <div class="mt-6 text-center">
                    <a routerLink="/login" class="font-medium text-indigo-600 hover:text-indigo-500">{{ t()('forgotPassword.backToLogin') }}</a>
                </div>
            } @else {
                <form class="space-y-6" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div>
                    <label for="email" class="sr-only">{{ t()('forgotPassword.emailPlaceholder') }}</label>
                    <input id="email" name="email" type="email" formControlName="email" required class="appearance-none rounded-md relative block w-full px-3 py-2 border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-600 focus:z-10 sm:text-sm" [placeholder]="t()('forgotPassword.emailPlaceholder')">
                </div>
    
                <div>
                    <button type="submit" [disabled]="forgotPasswordForm.invalid || isSubmitting()" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:bg-indigo-300">
                    {{ t()('forgotPassword.sendButton') }}
                    </button>
                </div>

                <div class="text-sm text-center">
                    <a routerLink="/login" class="font-medium text-indigo-600 hover:text-indigo-500">{{ t()('forgotPassword.backToLogin') }}</a>
                </div>
                </form>
            }
        </div>
        </div>
    </div>
  </div>
</div>